footer
{
    width: 100%;
    background: #54595F;
    section 
    {
        width: 100%;
        .contact
        {
            width: 85%;
            padding: 10% 7.5%;
            .contact-title
            {
                width: 100%;
                h2 
                {
                    margin: 0;
                    padding: 5px 0;
                    color: white;
                    font-weight: normal;
                }
            }
            .contact-body
            {
                width: 100%;
                form 
                {
                    width: 100%;
                    margin: 0 auto;
                    .row 
                    {
                        width: 100%;
                        label
                        {
                            width: 100%;
                            display: block;
                            padding: 10px 0;
                            font-family: inherit;
                            font-size: inherit;
                            color: white;
                            font-weight: 500;
                            letter-spacing: 1px;
                            span 
                            {
                                color: #DD3333;
                            }

                        }
                        input 
                        {
                            width: 100%;
                            padding: 10px 20px;
                            box-sizing: border-box;
                            border: 0;
                            outline: 0;
                            font-family: inherit;
                            font-size: inherit;
                        }
                        button 
                        {
                            padding: 10px 30px;
                            border: 0;
                            outline: 0;
                            cursor: pointer;
                            margin: 15px 0;
                            font-family: inherit;
                            font-size: inherit;
                            font-weight: 500;
                            letter-spacing: 1px;
                            background: #DD3333;;
                            color: white;
                        }
                    }
                }
            }
        }
        .map
        {
            width: 85%;
            padding: 0% 7.5%;
            iframe 
            {
                width: 100%;
                height: 400px;
            }
        }
        .details
        {
            width: 85%;
            padding: 30px 7.5%;
            .details-title
            {
                width: 100%;
                h2 
                {
                    margin: 0;
                    padding: 5px 0;
                    color: white;
                    font-weight: normal;
                }
            }
            .details-body
            {
                width: 100%;
                .dt-el
                {
                    width: 100%;
                    .img
                    {
                        width: 50px;
                        img 
                        {
                            width: 40px;
                            height: 40px;
                            padding: 10px;
                        }
                    }
                    .content
                    {
                        width: 100%;
                        padding: 10px;
                        box-sizing: border-box;
                        h3 ,p
                        {
                            margin: 10px 0;
                            color: white;
                            font-size: 100%;
                        }
                        h3 
                        {
                            letter-spacing: 2px;
                            font-weight: normal;
                            position: relative;
                            font-size: 120%;
                            padding-bottom: 10px;
                            text-shadow: 2px 1px 1px #d33;
                        }
                        h3::after 
                        {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            height: 2px;
                            margin: 2.5px 0;
                            width: 30%;
                            background: #DD3333;
                        }
                        p 
                        {
                            
                            color: #fff;
                            font-size: 100%;
                            letter-spacing: 1.5px;
                            a 
                            {
                                color: inherit;
                            }
                        }
                    }
                }
                .social
                {
                    width: 100%;
                    .content
                    {
                        width: 100%;
                        a 
                        {
                            width: 30px;
                            height: 30px;
                            margin: 0 5px;
                            img 
                            {
                                width: 20px;
                                height: 20px;
                                padding-right: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
    p#brand 
    {
        margin: 0;
        width: 100%;
        background: #DD3333;
        text-align: center;
        padding: 10px 0;
        color: white;
        a 
        {
            color: inherit;
            letter-spacing: 1px;
        }
    }
}
@media (min-width:700px)
{
    footer
    {
        section 
        {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .contact
            {
                width: 33.33%;
                padding: 30px 2.5%;
                min-width: 300px;
                box-sizing: border-box;
            }
            .map
            {
                width: 33.33%;
                padding: 30px 2.5%;
                min-width: 300px;
                box-sizing: border-box;
                iframe 
                {
                    width: 100%;
                    height: 400px;
                }
            }
            .details
            {
                width: 33.33%;
                padding: 30px 2.5%;
                min-width: 300px;
                box-sizing: border-box;
                .details-body
                {
                    width: 100%;
                    .dt-el
                    {
                        width: 100%;
                        display: flex;
                    }
                }
            }
        }
    }
}