main 
{
    width: 100%;
    section 
    {
        width: 100%;
        .team 
        {
            width: 100%;
            //team styles for mobile
        }
    }
}
@media (min-width:700px)
{
    main 
    {
        width: 100%;
        section 
        {
            width: 100%;
            .team
            {
                width: 100%;
                //team styles for system
            }
        }
    }
}